body {
  font-family: sans-serif;
  background-color: rgb(255,204,153);
}

#title {
  text-align: center;
  font-size: 100;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(images/tittle\ bg.jpg);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}

#description {
  text-align: center;
}

#img-div {
  background-color: rgb(255,204,153);
  padding: 10px;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  }

#image {
  display: block;
}

#img-caption {
  padding-top: 5px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

#intro {
  font-size: 35px;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  color: rgb(185, 64, 53);
}

p {
  text-align: justify;
  font-family: 'Rubik', sans-serif;
  font-size: 20;
}

#onepiece {
display: inline-block;
justify-content: space-between;
}

b{
  color: rgb(185, 64, 53);
  font-size: 30px;
}

#aboutlist {
  width: 400px;
  margin-right: 400px;
  margin-left: 100px;
  list-style: none;
  float: left;
}

#imgfruit {
width: 350px;
margin-left: 470px;
margin-top: -210px;
}

#imgCrew {
  width: 300px;
  margin-left: 500px;
  margin-top: -210px;
}

.line-2 {
  border-top: 1px solid black;
  margin-top: 50px;
}

#footer {
margin-top: 70px;
}

h4 {
font-size: 20px;
}

.button {
  width: 100%;
  color: black;
}

.button:hover{
  color: white;
}

#social{
  list-style: none;
  margin-left: 83%;
}

#tabsocial {
  display: inline;
} 

#socialicon{
  color: white;
padding: 10px;
font-size: 25px;
}

#socialicon:hover {
opacity: 0.7;
color: black;
}